<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Muscorpus {% endblock %} </title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/opensheetmusicdisplay.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    {% block navigation %}{% endblock %}
    {% block content %}{% endblock %}
    {% block end_scripts %}{% endblock %}
  </body>
</html>

